.red {
    color: red;
}

.yellow {
    color: #cbcb00;
}

.green {
    color: green;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .equipos {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 10px;
        padding: 10px 0 10px 0;
        flex-grow: 3;
        text-align: center;
        justify-content: center;
        width: 40%;

        .equipo1, .equipo2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            width: 30%;

            img {
                width: 30px;
                height: 30px;
                border-radius: 3px;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
            }
        }

        .resultado-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2px;
            text-wrap: wrap;
            width: 30%;

            .resultado {
                font-size: 1.2rem;
            }
        }
    }

    .info {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        text-wrap: wrap;
        text-align: center;
        width: 30%;
    }

    .puntaje {
        flex-grow: 1;
        align-self: center;
        font-size: 1.3rem;
        width: 5%;
        text-align: right;
    }
}
