<div class="register-container dark-theme">

    <div class="header">
        <mat-icon class="back" (click)=back()>chevron_left</mat-icon>
        <h1 class="title">REGISTRO</h1>
    </div>
    <form [formGroup]="registerFormControl">
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="name">
            @if (registerFormControl.get('name')?.hasError('required')) {
                <mat-error>
                    Campo <strong>obligatorio</strong>
                </mat-error>
            }
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
            <mat-label>Apellido</mat-label>
            <input type="text" matInput formControlName="surname">
            @if (registerFormControl.get('surname')?.hasError('required')) {
                <mat-error>
                    Campo <strong>obligatorio</strong>
                </mat-error>
            }
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
            <mat-label>C.I.</mat-label>
            <input type="text" matInput formControlName="ci">
            @if (registerFormControl.get('ci')?.hasError('required')) {
                <mat-error>
                    Campo <strong>obligatorio</strong>
                </mat-error>
            }
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email">
            @if (registerFormControl.get('email')?.hasError('required')) {
            <mat-error>
                Campo <strong>obligatorio</strong>
            </mat-error>
            }
            @else if (registerFormControl.get('email')?.hasError('email')) {
                <mat-error>
                    Correo electrónico <strong>no valido</strong>
                </mat-error>
            }
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" tabindex="-1">
                <mat-icon [style.color]="'grey'">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            @if (registerFormControl.get('password')?.hasError('required')) {
                <mat-error>
                    Campo <strong>obligatorio</strong>
                </mat-error>
            } @else if (registerFormControl.get('password')?.hasError('minlength')) {
                <mat-error>
                    <strong>8 caracteres mínimo</strong>
                </mat-error>
            }
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
            <mat-label>Confirmar contraseña</mat-label>
            <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="confirmPassword">
            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" tabindex="-1">
                <mat-icon [style.color]="'grey'">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            @if (registerFormControl.get('confirmPassword')?.hasError('required')) {
                <mat-error>
                    Las contraseñas <strong>no coinciden</strong>
                </mat-error>
            } @else if (registerFormControl.errors?.['passwordMatch']) {
                <mat-error>
                    Campo <strong>obligatorio</strong>
                </mat-error>
            }
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
            <mat-label>Telefono</mat-label>
            <input type="text" matInput formControlName="telefono">
            @if (registerFormControl.get('telefono')?.hasError('required')) {
                <mat-error>
                    Campo <strong>obligatorio</strong>
                </mat-error>
            }
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
            <mat-label>Carrera</mat-label>
            <mat-select formControlName="carrera">
                @for (carrera of carreras; track carrera.id) {
                    <mat-option [value]="carrera.id">
                        {{ carrera.nombre }}
                    </mat-option>
                }
            </mat-select>
            @if (registerFormControl.get('idCarrera')?.hasError('required')) {
                <mat-error>
                    Campo <strong>obligatorio</strong>
                </mat-error>
            }
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
            <mat-label>Campeon</mat-label>
            <mat-select formControlName="campeon">
                @for (equipo of equipos; track equipo.id) {
                    <mat-option [value]="equipo.id">
                        {{ equipo.nombre }}
                    </mat-option>
                }
            </mat-select>
            @if (registerFormControl.get('campeon')?.hasError('required')) {
                <mat-error>
                    Campo <strong>obligatorio</strong>
                </mat-error>
            }
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
            <mat-label>Subcampeon</mat-label>
            <mat-select formControlName="subcampeon">
                @for (equipo of equipos; track equipo.id) {
                    <mat-option [value]="equipo.id">
                        {{ equipo.nombre }}
                    </mat-option>
                }
            </mat-select>
            @if (registerFormControl.get('campeon')?.hasError('required')) {
                <mat-error>
                    Campo <strong>obligatorio</strong>
                </mat-error>
            }
        </mat-form-field>

        <button mat-raised-button
                class="register"
                color="accent"
                (click)="register()"
                [disabled]="!registerFormControl.valid"
                type="submit">Registrar
        </button>
    </form>

</div>
