<div class="container">
    <mat-toolbar color="primary" class="toolbar">
        <span class="spacer"></span>
        <span>Participantes</span>
        <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>

    <div class="search-box">
        <mat-form-field>
            <input matInput placeholder="Buscar participantes" [(ngModel)]="searchText"
                   (ngModelChange)="$searchSub.next()">
            <mat-icon matPrefix>search</mat-icon>
            @if (searchText.length > 0) {
                <mat-icon matSuffix (click)="searchText = ''; getAlumnos()">close</mat-icon>
            }
        </mat-form-field>
        <button mat-icon-button (click)="openFilters()">
            <mat-icon>tune</mat-icon>
        </button>
    </div>

    <main class="alumnos-list">
        @if (alumnos && alumnos.length > 0) {
            @for (alumno of alumnos; track alumno.id) {
                <app-alumno-card
                    [alumno]="alumno"
                    class="alumno"
                    (click)="navigateToAlumno(alumno.id)"
                ></app-alumno-card>
                <mat-divider></mat-divider>
            }
        } @else {
            <span>No hay participantes disponibles</span>
        }
    </main>

    <mat-toolbar class="bottom-navbar">
        <button mat-icon-button>
            <mat-icon>person</mat-icon>
        </button>
        <button mat-icon-button routerLink="/home">
            <mat-icon>sports_soccer</mat-icon>
        </button>
        <button mat-icon-button routerLink="/participantes">
            <mat-icon>groups</mat-icon>
        </button>
    </mat-toolbar>

</div>
