<div class="container">
    <mat-toolbar color="primary" class="toolbar">
        @if (role == Role.ADMIN) {
            <button mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
        } @else {
            <span class="spacer"></span>
        }
        <span>Partidos</span>
        <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>

    <div class="search-box">
        <mat-form-field>
            <input matInput placeholder="Buscar partidos" [(ngModel)]="searchText" (ngModelChange)="$searchSub.next()">
            <mat-icon matPrefix>search</mat-icon>
            @if (searchText.length > 0) {
                <mat-icon matSuffix (click)="searchText = ''; getPartidos()">close</mat-icon>
            }
        </mat-form-field>
        <button mat-icon-button (click)="openFilters()">
            <mat-icon>tune</mat-icon>
        </button>
    </div>

    <section class="partidos-list">
        @if (partidos.length > 0) {
            @for (partido of partidos; track partido.id) {
                <app-partido-card [partido]="partido"></app-partido-card>
            }
        } @else {
            <span>No hay partidos disponibles</span>
        }
    </section>

    <mat-toolbar class="bottom-navbar">
        <button mat-icon-button>
            <mat-icon>person</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>sports_soccer</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>groups</mat-icon>
        </button>
    </mat-toolbar>

</div>
