.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}

.header{
  background-color: #1c2433;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}


